<div class="row">
  <div class="col text-left">
    <%= link_to '&larr; Home'.html_safe, root_path, class: 'btn btn default' %>
  </div>
  <div class="col text-right">
    <%= link_to 'Add product', new_admin_category_path, class: 'btn btn-success' %>
  </div>
</div>
  <center>
    <h2>Products Category List</h2>
  </center>
<div class="table-responsive">
  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Created By</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.code %></td>
          <td><%= category.user.full_name %></td>
          <td>
            <%= link_to 'Edit', edit_admin_category_path(category.id), class: 'btn btn-info' %>
            <%= link_to 'Delete', admin_category_path(category.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>