<div class="row">
  <div class="col-md-12">
    <h2>
      Add Product
    </h2>
    <%= form_with model: [:admin, @product] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>  
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.text_field :quantity, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, maxlength: "1500", class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :sku %>
        <%= f.text_field :sku, class: 'form-control' %>
      </div>

      <%= fields_for :brands do |b| %>
        <div class="form-group">
          <%= b.label 'Brand' %>
          <br />
          <% Brand.all.each_with_index do |brand, i| %>
            <%= check_box_tag "brand_id[#{i}]", brand.id, @product.brands.include?(brand) %>
            <%= b.label "#{brand.name}" %>
          <% end %>
          <%#= select_tag :brand_id, options_from_collection_for_select(Brand.all, "id", "name"), class: 'form-control select2-enable', multiple: true %>
        </div>
      <% end %>

      <%= fields_for :categories do |c| %>
        <div class="form-group">
          <%= c.label 'Category' %>
          <br />
          <% Category.all.each_with_index do |category, i| %>
            <%= check_box_tag "category_id[#{i}]", category.id, @product.categories.include?(category) %>
            <%= c.label "#{category.name}" %>
          <% end %>
        </div>
      <% end %>
      <%= fields_for :store do |s| %>
        <div class="form-group">
          <%= s.label 'Store' %>
          <br />
          <% Store.all.each_with_index do |store, i| %>
            <%= check_box_tag "store_id[#{i}]", store.id, @product.stores.include?(store) %>
            <%= s.label "#{store.name}" %>
          <% end %>
        </div>
      <% end %>
      <%= fields_for :attribute_values do |a| %>
        <div class="form-group">
          <% Attribute.all.each do |attribute| %>
            <%= a.label "#{attribute.name}" %>
            <br />
            <% attribute.attribute_values.each_with_index do |at_v, i| %>
              <%= check_box_tag "attribute_value_id[#{i}]", at_v.id, @product.attribute_values.include?(at_v) %>
              <%= a.label "#{at_v.name}" %>
            <% end %>
            <br />
          <% end %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', root_path, class: 'btn btn-secondary'%>
      </div>
    <% end %>
  </div>
</div>