<h2>Admin Users List</h2>
<%= link_to 'Home', root_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'Add Roles', edit_admin_user_path(user.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>