<div class="row">
  <div class="col-md-6">
    <%= link_to '&larr; Home'.html_safe, root_path, class: 'btn btn default' %>
  </div>
</div>
  <center>
    <h2>Normal Users List</h2>
  </center>

<div class="table-responsive">
  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Add Roles', edit_admin_user_path(user.id), class: 'btn btn-warning' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>