<div class="row">
  <div class="col text-left">
    <%= link_to '&larr; Home'.html_safe, root_path, class: 'btn btn default' %>
  </div>
</div>
  <center>
    <h2>Quotes Request List</h2>
  </center>
<div class="table-responsive">
  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Total Price</th>
        <th scope="col">Status</th>
        <th scope="col">Comment</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
          <td><%= quote.user.full_name %></td>
          <td>$ <%= total_quote_price(quote) %></td>
          <td><%= quote.status.titleize %></td>
          <td><%= quote.comment %></td>
          <td><%= quote.created_at %></td>
          <td>
            <%= link_to admin_quote_path(quote.id), class: 'btn btn-info' do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <% if quote.status == 'pending' or quote.status == 'rejected' %>
              <%= link_to 'Accept', accept_admin_quote_path(quote.id), method: :put,class: 'btn btn-light' %>
            <% end %>
            <% if quote.status == 'pending' or quote.status == 'accepted' %>
              <%= link_to 'Reject', reject_admin_quote_path(quote.id), method: :put, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
