<div class="row">
  <div class="col-md-12">
    <h2>
      Quote
    </h2>
      <div id="items">
        
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading d-flex" style="justify-content: space-between;">
                        <h3>Items</h3>
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                    <th>Product</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center"></th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center"></th>
                                    <th class="text-center">Total</th>
                                    <th></th>
                                  </tr>
                              </thead>
                              <tbody id="appended_product">
                                <% @quote.items.each  do |it| %>
                                  <tr>
                                    <td class="col-md-5">
                                      <%= it.product.name %>
                                    </td>
                                    <td class="col-md-2" style="text-align: center">
                                      <%= it.quantity %>
                                    </td>
                                    <td class="col-md-1 text-center"><strong>X</strong></td>
                                    <td class="col-md-1 text-center"><strong>$ <%= it.product.price rescue '0.00' %></strong></td>
                                    <td class="col-md-1 text-center"><strong>=</strong></td>
                                    <td class="col-md-3 text-center total"><strong>$ <%= it.product.price*it.quantity.to_i rescue '0.00' %></strong></td>
                                    <td class="col-sm-1 col-md-1">
                                      
                                    </td>
                                  </tr>
                                <% end %>
                              </tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td class="text-right"><h5>Total</h5></td>
                                  <td class="text-center"><h5><strong id="sum">$ <%= total_quote_price(@quote) %></strong></h5></td>
                                  <td></td>
                                </tr>
                          </table>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>